/* 
Problem:
In this project, we'll code a webpage with upvote and downvote buttons
to increase and decrease the number of votes on a photos.


Task:
Part IV
With JavaScript down, let's give this webpage style by adding some CSS.
*/


body {
    text-align: center;
}

.bear-img {
    border-radius: 10px;
}

.caption-p {
    font-style: italic;
}

#vote-counter-p {
    font-size: 25px;
    font-weight: bold;
}

#upvote-button {
    background-color: green;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin-left: 10px;
}

#downvote-button {
    background-color: red;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}