/* 
Problem:
In this project, we'll use objects, arrays, and functions
to add items to a cart to build the online store.


Part III
We've got the structure in place, 
but we'll need to move these elements around with some CSS.
Let's move the shopping cart to the right-hand corner of the page
and display the products next to each other.
*/


body {
    color: midnightblue;
    font-family: helvetica;
}

.product {
    text-align: center;
    display: inline-block;
    margin: 5px;
}

#cart-img {
    position: absolute;
    top: 25px;
    right: 70%;
}

#item-counter {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 73%;
}

#order-total {
    text-align: right;
    margin-right: 70%;
}