body {
    background-color: linen;
    font-family: verdana;
}

.website-logo-img {
    margin-left: 10px;
}

.sub-heading-h3 {
    margin-left: 20px;
}

.incoming-div {
    width: 25%;
    background-color: white;
    border: 5px solid crimson;
    margin: 10px 20px;
}

.ready-div {
    width: 25%;
    background-color: white;
    border: 5px solid seagreen;
    margin: 10px 20px;
}